.custom-shape-divider-bottom-1641092103 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

@media only screen and (max-width: 980px) {
  .custom-shape-divider-bottom-1638502151 {
    display: none;
  }
}

.custom-shape-divider-bottom-1641092103 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1641092103 .shape-fill {
  fill: #f5ce93;
}

@media only screen and (min-width: 981px) {
  .custom-shape-divider-bottom-1643094978 {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .custom-shape-divider-bottom-1643094978 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
}

.custom-shape-divider-bottom-1643094978 svg {
  position: relative;
  display: block;
  width: calc(231% + 1.3px);
  height: 46px;
}

.custom-shape-divider-bottom-1643094978 .shape-fill {
  fill: #fef7ef;
}
