.carousel {
  height: 100vh;
  position: absolute;
}


.pt-5 {
  padding-top: 90px !important;
}

.text-primary {
  color: #5f74ac !important;
}

.bg-primary {
  background-color: #d6e7f8 !important;
}

.pointer {
  cursor: pointer;
}

.toast {
  z-index: 99999999999999;
}
