.carousel {
  height: 100vh;
  position: absolute;
}

.slider.animated,
.carousel .slide img,
.slider-wrapper {
  height: 100% !important;
  width: auto !important;
}

@media only screen and (max-width: 980px) {
  /* For mobile phones: */
  .carousel {
    height: 70vh;
  }
}

@media only screen and (max-width: 690px) {
  /* For mobile phones: */
  .carousel {
    height: 50vh;
  }
}

@media only screen and (max-width: 690px) {
  /* For mobile phones: */
  .slider.animated,
  .carousel .slide img,
  .slider-wrapper {
    height: 100% !important;
    width: 100% !important;
  }
}

.pt-5 {
  padding-top: 90px !important;
}

.text-primary {
  color: #5f74ac !important;
}

.bg-primary {
  background-color: #d6e7f8 !important;
}

.pointer {
  cursor: pointer;
}

.toast {
  z-index: 99999999999999;
}
